.container{
    margin: 20px auto;
    padding: 5px;
    width: 70%;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 3rem;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.search-box input{
   width: 90%;
   border: none;
   height: 100%;
   padding: 1rem;
   font-size: 1.2rem;
}
.search-box input:focus{
   outline: none;
}
.search-box button{
   width: 10%;
   border: none;
   height: 100%;
   font-size: 1.2rem;
   color: #b85298;
}
.search-box button:hover{
  cursor: pointer;
 
}
.city_name{
   margin: 10px auto;
   text-align: center;
   text-transform: capitalize;
   color: #b85298;
}
table {
   border-collapse: collapse;
   /* border: 2px solid forestgreen; */
   width: 80%;
   max-width: 800px;
   margin: 5px auto;
   font-size: 1rem;
 }
.tableHeading{
   border: 1px solid black;
   font-size: 1.3em;
 }
 th{
   padding: 0.625em;
 }
 td {
   text-align: center;
   padding: 0.625em;
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   border-bottom: 1px solid black;
 }
 tr:not(:first-child):hover {
   background-color: grey;
}
 tr.tableHeading{
   background-color: rgb(55, 55, 55);
   color: #b85298;
   font-family: 'Roboto', sans-serif;
 }
 .weatherImg{
   border-radius: 50%;
 }
 .page-slider{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0.625em;
 }
 .arrow{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   width: 40px;
   height: 40px;
   font-size: 2em;
   border-radius: 50%;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }
 .arrow:hover{
   cursor: pointer;
   background-color: #b16d9b;
 }
 .page-number{
   margin: 5px;
   padding: 5px;
   font-weight: bolder;
   width: 60px;
   height: 40px;
   font-size: 1.2em;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #b85298;
   box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 }
 @media (max-width:800px) {
   .container{
      width: 100%;
  }
  table{
   font-size: 0.8rem;
  }
 }
 @media (max-width:500px) {
  table{
   font-size: 0.6rem;
   width: 100%;
  }
 }